$bg-color : #111110;
$prime-color : #BA3941;

body {
    background: $bg-color;
}

h1 {
    color: #FFF;
    text-transform: uppercase;
    text-shadow: -3px 0px $prime-color;
}

//Page Accueil + Filière
#accueil, #sections {
    height: 80vh;
    width: 90vw;
    .row{
        height: 100%;
    }
    .element{
        display: inline-block;

        .vertical-text {
            writing-mode: sideways-lr;
        }
        .icon {
            height: 35vh;
            width: 6vw;
            border-radius: 40% / 5%;
            background-color: $prime-color;
        }
        .pop1 { background: url(img/cinq.jpg) no-repeat center center;
            background-size: cover;
        }
        .pop2 { background: url(img/dix.jpg) no-repeat center center;
            background-size: cover;
        }
        .pop3 { background: url(img/huit.jpg) no-repeat center center;
            background-size: cover;
        }
        .pop4 { background: url(img/ress.png) no-repeat left center;
            background-size: cover;
        }
        .pop5 { background: url(img/trois.jpg) no-repeat center center;
            background-size: cover;
        }
        .pop6 { background: url(img/un.jpg) no-repeat center center;
            background-size: cover;
        }
        .pip1 { background: url(img/ress.png) no-repeat left center;
            background-size: cover;
        }
        .pip2 { background: url(img/ress.png) no-repeat center center;
            background-size: cover;
        }
        .pip3 { background: url(img/ress.png) no-repeat right center;
            background-size: cover;
        }
    }
}

// Page About
#about {
    p{
        color: $prime-color;
    }
    .photo-de-classe{
        height: 60vh;
        background-color: $prime-color;
        border-radius: 10% / 5%;
    }
}

//Page Vizuthèque 

#ressourses {
    .recherche{
        position: fixed;
        width: 100vw;
        top: 14vh;
    }
}