$bg-color : #111110;
$prime-color : #BA3941;

body {
    background: $bg-color;
}

h1 {
    color: #FFF;
    text-transform: uppercase;
    text-shadow: -3px 0px $prime-color;
}


#accueil, #sections {
    height: 80vh;
    width: 90vw;
    .row{
        height: 90%;
    }
    .element{
        display: inline-block;

        .vertical-text {
            writing-mode: sideways-lr;
        }
        .icon {
            height: 35vh;
            width: 6vw;
            border-radius: 40% / 5%;
            background-color: $prime-color;
        }
    }
}
#about {
    p{
        color: $prime-color;
    }
}