$bg-color : #111110;
$prime-color : #BA3941;

body {
    background: $bg-color;
}

h1 {
    color: #FFF;
    text-transform: uppercase;
    text-shadow: -3px 0px $prime-color;
    font-size: 3rem !important;
    display: flex;
    justify-content: center;
}

//Page Accueil + Filière
#accueil, #sections {
    height: 75vh;
    width: 90vw;
    .row{
        height: 100%;
    }
    .element{
        display: inline-block;

        .vertical-text {
            position: absolute;
            top: 35vh;
            left: -50px;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            width: 35vh;
        }
        .icon {
            height: 35vh;
            width: 6vw;
            border-radius: 40% / 5%;
            background-color: $prime-color;
        }
        .pop1 { background: $prime-color url(img/acc/home1.png) no-repeat center center;
            background-size: cover;
        }
        .pop2 { background: $prime-color url(img/acc/home2.png) no-repeat center center;
            background-size: cover;
        }
        .pop3 { background: $prime-color url(img/acc/home3.png) no-repeat left center;
            background-size: cover;
        }
        .pop4 { background: $prime-color url(img/acc/home4.png) no-repeat center top;
            background-size: cover;
        }
        .pop5 { background: $prime-color url(img/acc/home5.png) no-repeat center center;
            background-size: cover;
        }
        .pop6 { background: $prime-color url(img/acc/home1.png) no-repeat center center;
            background-size: cover;
        }
        .pip1 { background: $prime-color url(img/acc/home3.png) no-repeat left center;
            background-size: cover;
        }
        .pip2 { background: $prime-color url(img/acc/home3.png) no-repeat center center;
            background-size: cover;
        }
        .pip3 { background: $prime-color url(img/acc/home3.png) no-repeat right center;
            background-size: cover;
        }
    }
}
//Mobile Accueil + Filière
@media screen and (max-width: 900px){
    #accueil, #sections {
        .element{
            
            flex-direction: column;
            
            .vertical-text {
                transform: rotate(0deg);
                position: static;
                width: 100%;
            }
            a {align-self: center;}
            .icon {
                height: 10vh;
                width: 75vw;
                border-radius: 5% / 40%;
                background-color: $prime-color; 
            }
        }
    }
    #accueil .element {height: 23vh;}
}

// Page About
#about {
    p{
        color: $prime-color;
    }
    .photo-de-classe{
        height: 60vh;
        background-color: $prime-color;
        border-radius: 10% / 5%;
    }
}
//Mobile About
@media screen and (max-width: 900px){
    #about {
        p{
            font-size: 0.7em;
        }
        .photo-de-classe{
            height: 29vh;
            background-color: $prime-color;
            border-radius:  5%;
        }
        .petit {
            display: none;
        }
    }
}

//Page Vizuthèque 
#ressourses {
    .recherche{
        position: fixed;
        width: 100vw;
        top: 14vh;
    }
    .left {
        height: 100%;
        .prev {
            height: 90%;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    .travaux div {
        overflow: hidden;
        img {width: 100%;}
    }
    .ressourse {
        height: 72vh;
        padding-top: 30px;
    }
    .right {
        position: relative;
        .add {
            position: absolute;
            bottom: 5%;
            right: 0;

            .plus {
                height: 80px;
            }
        }
    }
}

//Mobile Vizuthèque
@media screen and (max-width: 900px){
    #ressourses {
        height: 67vh;
        overflow: hidden;
        .recherche{
            top: 20vh;
        }
        .ressourse {
            height: 70vh;
        }
        .right {
            .add {
                bottom: 28%;
                right: -25%;
    
                .plus {
                    height: 50px;
                }
            }
        }
    }
}

//Page projets
.projets {
    .proj {
        margin-top: 40px;

        h5 {
            font-size: 1.25rem;
            color: white;
        }
        .proj-picto {
            overflow: hidden;
            border: 2px $prime-color solid;
            border-radius: 1rem;
            padding: 0px;

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
            } 
        }
    }
}
//Mobile Projets
@media screen and (max-width: 900px){
    .archive-projets{
        .projets {
            height:415px;  
        }
        .form-inline {
            justify-content: center;
        }
        .proj-picto{
            width: 150px !important;
            height: 150px !important;
        }
    }
}

//Single projet
.single-projet {
    div{
        display: inline-block;
         img {
            width: 100%;
        }
    }
}