@import url(c:\xampp\htdocs\theme-vizu-static\scss\bootstrap.min.css);
body {
  background: #111110;
}

h1 {
  color: #BA3941;
}

body, html {
  background-color: #111110;
  margin: 0px;
  padding: 0px;
}

:root {
  scrollbar-color: #BA3941 #111110;
  scrollbar-width: thin;
  height: auto;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
}

header .about {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  list-style: none;
  margin-top: 45px;
  margin-left: 30px;
  position: absolute;
}

header .about a {
  color: #BA3941;
}

header .logo {
  height: 100px;
  display: block;
  margin: 0 auto;
}

a::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 2px;
  background: #BA3941;
  margin: 30px 0px 0px -45px;
}

.container.etudiants {
  background-color: #111110;
  max-width: 960px;
}

.filtre {
  margin: 15px 10px 15px 0px;
  padding: 0px;
  text-align: right;
  color: #BA3941;
}

.filtre .btn-outline-success {
  background-color: #BA3941;
  border: 0px;
  color: #111110;
}

.filtre .form-control {
  background-color: #111110;
  border-radius: 0;
  border-bottom: 2px white solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 180px;
  margin-right: 20px !important;
}

.filtre .fas {
  font-size: 20px;
}

.filtre #search {
  padding: .4rem .6rem;
  -webkit-box-shadow: 5px 5px 8px black;
          box-shadow: 5px 5px 8px black;
}

.cat {
  margin-top: 20px;
  border-bottom: 2px #BA3941 solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  max-width: 100px;
  margin-left: 35px;
  text-transform: uppercase;
}

.etu {
  margin-top: 40px;
}

.etu .etu-picto {
  border: 2px #BA3941 solid;
  border-radius: 1rem;
  max-width: 200px;
  height: 200px;
  padding: 0px;
}

.etu .etu-info {
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
}

/* MENU     MENU    MENU    MENU    MENU */
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #BA3941;
}

.button_container.active .middle {
  opacity: 0;
  background: #BA3941;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #BA3941;
}

.button_container span {
  background: #BA3941;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #111110;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  z-index: 99;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 40%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  text-shadow: -3px 0px #BA3941;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 40%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 25%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  background: #BA3941;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* FIN MENU     FIN MENU    FIN MENU    FIN MENU */
/*# sourceMappingURL=style.css.map */